<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.triponezidoapi.mappers.SearchMapper">
    <select id="searchMember" parameterType="string" resultType="com.example.triponezidoapi.dto.ProfileMember">

    </select>

    <select id="searchSpot" parameterType="string" resultType="com.example.triponezidoapi.dto.ResponseContentList">

    </select>

    <select id="searchPlan" parameterType="string" resultType="com.example.triponezidoapi.dto.ResponseContentList">

    </select>

    <select id="detailSearchSpot" parameterType="com.example.triponezidoapi.dto.RequestDetailSearch" resultType="com.example.triponezidoapi.dto.ResponseContentList">

    </select>

    <select id="detailSearchPlan" parameterType="com.example.triponezidoapi.dto.RequestDetailSearch" resultType="com.example.triponezidoapi.dto.ResponseContentList">

    </select>

</mapper>