<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.triponezidoapi.mappers.SearchMapper">
    <select id="searchMember" parameterType="com.example.triponezidoapi.dto.request.RequestSearch" resultType="com.example.triponezidoapi.dto.response.ResponseMember">
        SELECT
            id,
            login_id,
            profile
        FROM
            member
        WHERE
            name LIKE CONCAT('%', #{keyword}, '%')
        LIMIT
            #{page}, 6
    </select>

    <select id="searchSpot" parameterType="com.example.triponezidoapi.dto.request.RequestSearch" resultType="com.example.triponezidoapi.dto.response.ResponseContentList">
        SELECT
            c.id,
            c.title,
            s.grade,
            (
            SELECT
                photo
            FROM
                photo
            WHERE
                content_id = c.id
            ) photo,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id
            ) bookmark_count,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id AND
                member_id = #{myMemberId}
            ) my_bookmark,
            (
            SELECT
                COUNT(*)
            FROM
                good
            WHERE
                content_id = c.id
            ) good_count
        FROM
            content c,
            spot s
        WHERE
            c.id = s.id AND
            c.title LIKE CONCAT('%', #{keyword}, '%')
        LIMIT
            #{page}, 6
    </select>

    <select id="searchPlan" parameterType="com.example.triponezidoapi.dto.request.RequestSearch" resultType="com.example.triponezidoapi.dto.response.ResponseContentList">
        SELECT
            c.id,
            c.title,
            p.grade,
            (
                SELECT
                    photo
                FROM
                    photo
                WHERE
                    content_id = c.id
            ) photo,
            (
                SELECT
                    COUNT(*)
                FROM
                    bookmark
                WHERE
                    content_id = c.id
            ) bookmark_count,
            (
                SELECT
                    COUNT(*)
                FROM
                    bookmark
                WHERE
                    content_id = c.id AND
                    member_id = #{myMemberId}
            ) my_bookmark,
            (
                SELECT
                    COUNT(*)
                FROM
                    good
                WHERE
                    content_id = c.id
            ) good_count
        FROM
            content c,
            plan p
        WHERE
            c.id = p.id AND
            c.title LIKE CONCAT('%', #{keyword}, '%')
        LIMIT
            #{page}, 6
    </select>

    <select id="detailSearchSpot" parameterType="com.example.triponezidoapi.dto.request.RequestDetailSearch" resultType="com.example.triponezidoapi.dto.response.ResponseContentList">
        SELECT
        c.id,
        c.title,
        s.grade,
        (
        SELECT
        photo
        FROM
        photo
        WHERE
        content_id = c.id
        ) photo,
        (
        SELECT
        COUNT(*)
        FROM
        bookmark
        WHERE
        content_id = c.id
        ) bookmark_count,
        (
        SELECT
        COUNT(*)
        FROM
        bookmark
        WHERE
        content_id = c.id AND
        member_id = #{myMemberId}
        ) my_bookmark,
        (
        SELECT
        COUNT(*)
        FROM
        good
        WHERE
        content_id = c.id
        ) good_count
        FROM
        content c,
        spot s
        WHERE
        c.id = s.id AND
        c.title LIKE CONCAT('%', #{keyword}, '%') AND
        s.loc_category = #{locCategory} AND
        s.category = #{category} AND
        <if test="startMonth == 1">
            (<![CDATA[(MONTH(s.start_date) = 12 OR MONTH(s.end_date) = 12) OR]]>
        </if>
        <![CDATA[ (MONTH(s.start_date) <= #{endMonth} AND MONTH(s.end_date) >= #{startMonth}) ]]>)
        LIMIT
            #{page}, 6
    </select>

    <select id="detailSearchPlan" parameterType="com.example.triponezidoapi.dto.request.RequestDetailSearch" resultType="com.example.triponezidoapi.dto.response.ResponseContentList">
        SELECT
            c.id,
            c.title,
            p.grade,
            (
                SELECT
                    photo
                FROM
                    photo
                WHERE
                    content_id = c.id
            ) photo,
            (
                SELECT
                    COUNT(*)
                FROM
                    bookmark
                WHERE
                    content_id = c.id
            ) bookmark_count,
            (
                SELECT
                    COUNT(*)
                FROM
                    bookmark
                WHERE
                    content_id = c.id AND
                    member_id = #{myMemberId}
            ) my_bookmark,
            (
                SELECT
                    COUNT(*)
                FROM
                    good
                WHERE
                    content_id = c.id
            ) good_count
        FROM
            content c,
            plan p
        WHERE
            c.id = p.id AND
            c.title LIKE CONCAT('%', #{keyword}, '%') AND
            p.loc_category = #{locCategory} AND

            <if test="startMonth == 1">
                (<![CDATA[(MONTH(p.start_date) = 12 OR MONTH(p.end_date) = 12) OR ]]>
            </if>
            <![CDATA[ (MONTH(p.start_date) <= #{endMonth} AND MONTH(p.end_date) >= #{startMonth}) ]]>)
        LIMIT
            #{page}, 6
    </select>
</mapper>