<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.triponezidoapi.mappers.SearchMapper">
    <select id="searchMember" parameterType="string" resultType="com.example.triponezidoapi.dto.response.ResponseMember">
        SELECT
            id,
            login_id,
            profile
        FROM
            member
        WHERE
            login_id LIKE #{keyword}
    </select>

    <select id="searchSpot" parameterType="com.example.triponezidoapi.dto.beforeUse.RequestListInfo" resultType="com.example.triponezidoapi.dto.response.ResponseContentList">
        SELECT
            c.id,
            c.title,
            s.grade,
            (
            SELECT
                photo
            FROM
                photo
            WHERE
                content_id = c.id
            ) photo,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id
            ) bookmark_count,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id AND
                member_id = #{myMemberId}
            ) my_bookmark,
            (
            SELECT
                COUNT(*)
            FROM
                good
            WHERE
                content_id = c.id
            ) good_count
        FROM
            content c,
            spot s
        WHERE
            c.id = s.id AND
            c.title LIKE #{keyword}
    </select>

    <select id="searchPlan" parameterType="com.example.triponezidoapi.dto.beforeUse.RequestListInfo" resultType="com.example.triponezidoapi.dto.response.ResponseContentList">
        SELECT
            c.id,
            c.title,
            p.grade,
            (
                SELECT
                    photo
                FROM
                    photo
                WHERE
                    content_id = c.id
            ) photo,
            (
                SELECT
                    COUNT(*)
                FROM
                    bookmark
                WHERE
                    content_id = c.id
            ) bookmark_count,
            (
                SELECT
                    COUNT(*)
                FROM
                    bookmark
                WHERE
                    content_id = c.id AND
                    member_id = #{myMemberId}
            ) my_bookmark,
            (
                SELECT
                    COUNT(*)
                FROM
                    good
                WHERE
                    content_id = c.id
            ) good_count
        FROM
            content c,
            plan p
        WHERE
            c.id = p.id AND
            c.title LIKE #{keyword}
    </select>

    <select id="detailSearchSpot" parameterType="com.example.triponezidoapi.dto.request.RequestDetailSearch" resultType="com.example.triponezidoapi.dto.response.ResponseContentList">
        SELECT
            c.id,
            c.title,
            s.grade,
            (
                SELECT
                    photo
                FROM
                    photo
                WHERE
                    content_id = c.id
            ) photo,
            (
                SELECT
                    COUNT(*)
                FROM
                    bookmark
                WHERE
                    content_id = c.id
            ) bookmark_count,
            (
                SELECT
                    COUNT(*)
                FROM
                    bookmark
                WHERE
                    content_id = c.id AND
                    member_id = #{myMemberId}
            ) my_bookmark,
            (
                SELECT
                    COUNT(*)
                FROM
                    good
                WHERE
                    content_id = c.id
            ) good_count
        FROM
            content c,
            spot s
        WHERE
            c.id = s.id AND
            c.title LIKE #{keyword} AND
            s.loc_category = #{locCategory} AND
            s.category = #{category} AND
            (
            s.start_date BETWEEN #{startDate} AND #{endDate} OR
            s.end_date BETWEEN #{startDate} AND #{endDate}
            )
    </select>

    <select id="detailSearchPlan" parameterType="com.example.triponezidoapi.dto.request.RequestDetailSearch" resultType="com.example.triponezidoapi.dto.response.ResponseContentList">
        SELECT
            c.id,
            c.title,
            p.grade,
            (
                SELECT
                    photo
                FROM
                    photo
                WHERE
                    content_id = c.id
            ) photo,
            (
                SELECT
                    COUNT(*)
                FROM
                    bookmark
                WHERE
                    content_id = c.id
            ) bookmark_count,
            (
                SELECT
                    COUNT(*)
                FROM
                    bookmark
                WHERE
                    content_id = c.id AND
                    member_id = #{myMemberId}
            ) my_bookmark,
            (
                SELECT
                    COUNT(*)
                FROM
                    good
                WHERE
                    content_id = c.id
            ) good_count
        FROM
            content c,
            plan p
        WHERE
            c.id = p.id AND
            c.title LIKE #{keyword} AND
            p.loc_category = #{locCategory} AND
            (
            p.start_date BETWEEN #{startDate} AND #{endDate} OR
            p.end_date BETWEEN #{startDate} AND #{endDate}
            )
    </select>
</mapper>