<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.triponezidoapi.mappers.SpotMapper">
    <select id="getSpotList" parameterType="long" resultType="com.example.triponezidoapi.dto.ResponseContentList">

    </select>

    <insert id="addSpot" parameterType="com.example.triponezidoapi.dto.Spot">

    </insert>

    <update id="updateSpot" parameterType="com.example.triponezidoapi.dto.Spot">

    </update>

    <insert id="addPhoto" parameterType="com.example.triponezidoapi.dto.Photo">

    </insert>

    <delete id="deletePhoto" parameterType="long">

    </delete>
</mapper>