<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.triponezidoapi.mappers.SpotMapper">
    <insert id="addSpot" parameterType="com.example.triponezidoapi.dto.request.RequestSpot">
        INSERT INTO spot
            (
            id,
            category,
            start_date,
            end_date,
            loc_category,
            address,
            review,
            grade,
            profile_id
            )
        VALUE
            (
            #{id},
            #{category},
            #{startDate},
            #{endDate},
            #{locCategory},
            #{address},
            #{review},
            #{grade},
            #{profile}
            )
    </insert>

    <insert id="addPhoto" parameterType="com.example.triponezidoapi.dto.request.RequestPhoto">
        INSERT INTO
            photo
            (
            photo,
            content_id
            )
        VALUE
            (
            #{photo},
            #{contentId}
            )
        <selectKey keyProperty="id" resultType="long">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <select id="getSpot" parameterType="com.example.triponezidoapi.dto.request.RequestSessionTarget" resultType="com.example.triponezidoapi.dto.response.ResponseSpotDetail">
        SELECT
            s.*,
            c.title,
            c.visibility,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id
            ) bookmark_count,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id AND
                member_id = #{myMemberId}
            ) my_bookmark,
            (
            SELECT
                COUNT(*)
            FROM
                good
            WHERE
                content_id = c.id
            ) good_count,
            (
                SELECT
                    created_at
                FROM
                    content
                WHERE
                   id = #{targetId}
            ) createdAt,
            (
                SELECT
                    m.profile
                FROM
                    member m
                WHERE
                    s.profile_id = m.id
            ) profile
        FROM
            spot s,
            content c
        WHERE
            s.id = c.id AND
            s.id = #{targetId}
    </select>

    <select id="getSpotList" parameterType="com.example.triponezidoapi.dto.request.RequestSessionTarget" resultType="com.example.triponezidoapi.dto.response.ResponseContentList">
        SELECT
            c.id,
            c.title,
            s.grade,
            (
            SELECT
                photo
            FROM
                photo
            WHERE
                id = s.profile_id
            ) photo,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id
            ) bookmark_count,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id AND
                member_id = #{myMemberId}
            ) my_bookmark,
            (
            SELECT
                COUNT(*)
            FROM
                good
            WHERE
                content_id = c.id AND
                good = 1
            ) good_count,
            (
                SELECT
                    COUNT(*)
                FROM
                    pin
                WHERE
                    member_id = #{myMemberId}
                  AND content_id = #{targetId}
            ) pin,
            c.type
        FROM
            content c,
            spot s
        WHERE
            c.id = s.id AND
            c.id IN
            (
            SELECT
                content_id
            FROM
                owner
            WHERE
                member_id = #{targetId}
            )
        ORDER BY
            ${sort}
        LIMIT
            #{page}, 6
    </select>

    <select id="getPhoto" parameterType="Long" resultType="com.example.triponezidoapi.dto.response.ResponsePhoto">
        SELECT
            photo
        FROM
            photo
        WHERE
            content_id = #{id}
    </select>

    <select id="getSpotListCount" parameterType="Long" resultType="int">
        SELECT
            count(*)
        FROM
            content c,
            spot s
        WHERE
            c.id = s.id AND
            c.id IN
            (
                SELECT
                    content_id
                FROM
                    owner
                WHERE
                    member_id = 9
            )
    </select>

    <update id="updateSpot" parameterType="com.example.triponezidoapi.dto.request.RequestSpot">
        UPDATE spot
        SET
            category = #{category},
            start_date = #{startDate},
            end_date = #{endDate},
            loc_category = #{locCategory},
            address = #{address},
            review = #{review},
            grade = #{grade},
            profile_id = #{profile}
        WHERE
            id = #{id};
    </update>

    <delete id="deletePhoto" parameterType="Long">
        DELETE FROM photo
        WHERE
            content_id = #{contentId}
    </delete>
</mapper>