<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.triponezidoapi.mappers.TourMapper">
    <select id="getTourList" parameterType="com.example.triponezidoapi.dto.beforeUse.RequestListInfo" resultType="com.example.triponezidoapi.dto.Response.ResponseContentList">
        SELECT
            id,
            title,
            (
            SELECT
                photo
            FROM
                photo
            WHERE
                content_id = c.id
            ) photo,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id
            ) bookmark_count,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id AND
                member_id = #{myMemberId}
            ) my_bookmark
        FROM
            content c
    </select>

    <select id="getTourById" parameterType="com.example.triponezidoapi.dto.beforeUse.RequestOwner" resultType="com.example.triponezidoapi.dto.Response.ResponseTour">
        SELECT
            t.*,
            c.title,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id
            ) bookmark_count,
            (
                SELECT
                    COUNT(*)
                FROM
                    bookmark
                WHERE
                    content_id = c.id AND
                    member_id = #{memberId}
            ) my_bookmark
        FROM
            responseTour t,
            content c
        WHERE
            t.id = c.id AND
            t.id = #{contentId}
    </select>

    <insert id="addTour" parameterType="com.example.triponezidoapi.dto.Response.ResponseTour">
        INSERT INTO responseTour
            (
            id,
            loc_category,
            address,
            info
            )
            VALUE
            (
            #{id},
            #{locCategory},
            #{address},
            #{info}
            )
    </insert>
</mapper>