<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.triponezidoapi.mappers.TourMapper">


    <insert id="addTour" parameterType="com.example.triponezidoapi.dto.request.RequestTour">
        INSERT INTO tour
            (
            id,
            loc_category,
            address,
            info
            )
        VALUE
            (
            #{id},
            #{locCategory},
            #{address},
            #{info}
            )
    </insert>

    <select id="getTour" parameterType="com.example.triponezidoapi.dto.request.RequestSessionTarget" resultType="com.example.triponezidoapi.dto.response.ResponseTour">
        SELECT
            t.*,
            c.title,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id
            ) bookmark_count,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id AND
                member_id = #{myMemberId}
            ) my_bookmark
        FROM
            tour t,
            content c
        WHERE
            t.id = c.id AND
            t.id = #{targetId}
    </select>

    <select id="getTourList" parameterType="com.example.triponezidoapi.dto.request.RequestSessionTarget" resultType="com.example.triponezidoapi.dto.response.ResponseTour">
        SELECT
            id,
            title,
            (
            SELECT
                photo
            FROM
                photo
            WHERE
                content_id = c.id
            ) photo,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id
            ) bookmark_count,
            (
            SELECT
                COUNT(*)
            FROM
                bookmark
            WHERE
                content_id = c.id AND
                member_id = #{myMemberId}
            ) my_bookmark
        FROM
            content c
        LIMIT
            #{page}, 6
    </select>

    <select id="getNextId" parameterType="Long" resultType="Long">
        <![CDATA[
        SELECT
            id
        FROM
            tour
        WHERE
                id = (
                SELECT
                    id
                FROM
                    tour
                WHERE
                    id > #{id}
                LIMIT
                    1
            )
        ]]>
    </select>

    <select id="getPrevId" parameterType="Long" resultType="Long">
        <![CDATA[
        SELECT
            id
        FROM
            tour
        WHERE
                id = (
                SELECT
                    id
                FROM
                    tour
                WHERE
                    id < #{id}
                ORDER BY
                    id DESC
                LIMIT
                    1
            )
        ]]>
    </select>

</mapper>