#main {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
}

#mainTitle {
  text-align: left;
}

#leftSide {
  margin-right: auto;
}

#rightSide {
  margin-left: 3%; margin-top: 3%;
}

h1 {
  color:#ff928e !important;
}

h3 {
  color: rgb(80, 80, 80) !important;
}

#picContainer{
  justify-content: center;
}

#addPic{
  overflow: scroll; 
  overflow-y: hidden; 
  height: 125%;
}

#selectedPic {
  width: 75%;
  height: 100%;
  margin-right: 1%;
}

#plusPic {
  background-color: white; 
  margin-top: 20%;
}

#plusPic > img {
  width: 45px;
  height: 45px;
}

#locationTitle {
  margin-right: 10px; 
  margin-left: 10px; 
  width: 40%; 
  height:80%;
}

#locationPeople{
  justify-content: center;
}

#otherName {
  margin-right: 5px; 
  margin-left: 5px; 
  width: 20%; 
  height: 50%;
}

#buttonBackground {
  background-color: white;
}

#picLocation{
  align-items:center;
}

.p-2 > select {
  width: 200px; 
}

.select-wrapper{
  width: 15%
}

#formButton {
  margin-left: auto
}

#modalButton {
  color: aliceblue;
  background-color: #ff928e;
}

#modalBox {
  background-color: #D9D9D9;
}


@font-face {
  font-family: 'Jalnan';
  src: url('/html-css/assets/fonts/Jalnan2TTF.ttf') format('truetype');
}

#footer {
  font-family: 'Jalnan';
  font-size: 10px;
}

h1, h2, h3, h4, h5, body, .button, #security, .rating, #ratingValue {
  font-family: 'Jalnan';
}

#menu {
  font-family: 'Jalnan';
  font-size: 20px;
}

.select-wrapper {
  font-size: small;
}

/* 달력 */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  /* font-size: 14px; */
}

#calendar {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
}

/* 별점주기 */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}

.rating>span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
  content: "\2605";
  position: absolute;
}

#rateStar{
  margin-right: 10px;
   margin-left: 100px;
}


/* 화면 나누기 */
#split-container {
display: flex;
width: 100%;
}
#split-container > div {
  width: 50%;
  padding: 20px;
}


#input {
  color:white;
  font-family: 'Jalnan';
  text-align: center;
  margin-right: 10px; 
  margin-left: 10px; 
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.flex-fill {
  color: #f6755e;
}

#start_date, #end_date {
  color: black;
  margin-right: 10px; margin-left: 10px;
}

textarea{
resize: none;
}


/* 스크롤바 */
div::-webkit-scrollbar{ /* 스크롤바 배경 */
    height: 15px;
    border-radius: 10px;
    background: rgb(236, 236, 250);
  }
  div::-webkit-scrollbar-thumb{ /* 스크롤바 */
    width: 15px;
    border-radius: 10px;
    background: pink;
  }
  
  /* 테스트용 */
.slide,.slide_bottom {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;

  /* size */
  width: 100%;
}
.slide_item, .slide_item_bottom {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.5s;
}
.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(45%);

  /* size */
  width: 25px;
  height: 25px;

  /* style */
  border-radius: 100%;

  color: #fcbebc;
  cursor: pointer;
}

.slide_prev_button, .slide_prev_button_bottom {
  left: 0px;
}
.slide_next_button, .slide_next_button_bottom {
  right: 0px;
}


/* 페이지네이션 스타일 */
ul,li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination, .slide_pagination_bottom {
  /* layout */
  display: flex;
  gap: 3px;

  /* position */
  position:relative;
  justify-content: center;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li , .slide_pagination_bottom > li{
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #30323588;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active, .slide_pagination_bottom > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #f6755e;
}