img {
    vertical-align: top;
  }
  .banner_img, .banner_bg{
    display:inline-block;
    position: relative;
    z-index: 0;
  }
  .banner_img:hover:after,
  .banner_img:hover > .hover_text,
  .banner_bg:hover:after,
  .banner_bg:hover > .hover_text
  {
    display:block;
  }
  .banner_img:after,.banner_bg:after,.hover_text{
    display:none;
  }
  .banner_img:after,.banner_bg:after{
    content:'';
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    border-radius: 13%;
  }
  .banner_img {
    overflow: hidden;
  }

  .banner_img:hover img{
    transition: 1s;
  }
  .hover_text {
    position:absolute;
    top: 35%;
    /* right: 25%;
    bottom: 25%; */
    left: 30%;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
  }
  
/* 스크롤바 */
div::-webkit-scrollbar{ /* 스크롤바 배경 */
  height: 15px;
  border-radius: 10px;
  background: rgb(236, 236, 250);
}
div::-webkit-scrollbar-thumb{ /* 스크롤바 */
  width: 15px;
  border-radius: 10px;
  background: pink;
}



/* 테스트용 */
.slide,.slide_bottom {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;

  /* size */
  width: 100%;
}
.slide_item, .slide_item_bottom {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.5s;
}
.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(38%);

  /* size */
  width: 25px;
  height: 25px;

  /* style */
  border-radius: 100%;

  color: #fcbebc;
  cursor: pointer;
}

.slide_prev_button, .slide_prev_button_bottom {
  left: 5px;
}
.slide_next_button, .slide_next_button_bottom {
  right: 5px;
}


/* 페이지네이션 스타일 */
ul,li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination, .slide_pagination_bottom {
  /* layout */
  display: flex;
  gap: 3px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 49%;
  transform: translateX(-50%);
}
.slide_pagination > li , .slide_pagination_bottom > li{
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #30323588;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active, .slide_pagination_bottom > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #f6755e;
}