#main {
    margin-left: 5%;
    margin-right: 5%;
}

#mainTitle {
    text-align: left;
}

h1 {
    color: #ff928e !important;
}

#updateTdSet {
    width: 200;
    height: 39;
    text-align: center;
}

#trHeader {
    background-color: rgba(144, 144, 144, 0.075);
}

#trTitle {
    color: #767d85;
}

#updateArea {
    background-color: white;
}

#modalButton, #button {

    color: rgb(255, 255, 255) !important;
    background-color: #ff928e !important;
    border-radius: 10px !important;
    padding-left: 50px !important;
    margin-left: 10px;
}

#modalBox {
    background-color: #D9D9D9;
}

#formButton{
    margin-left: auto;
}

h3 {
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}
label { 
    color: black !important;
}
.button {
    border-radius: 10px !important;
}

#button-pw {
    font-size: 100%;
    width: 50%;
}

#withdrawal {
    margin-right: auto;
}


.actions #duplication-check {
    text-decoration: none;
    color: rgb(255, 255, 255);
}