#main {
  margin-left: 5%;
  margin-right: 5%;
}

#mainTitle {
  text-align: left;
}


h1 {
  color:#ff928e !important;
}


#icon {
  width: 25px;
  height: 25px;
}

#titlePic {
  width:260px;
  height:260px;
}

#explanation{
  margin-left: 3%;
}

#listTitle {
  text-align: center;
}

#spotInfoPic{
  width:850px; 
  height:690px;
}

img {
  vertical-align: top;
}

.banner_img,
.banner_bg {
  display: inline-block;
  position: relative;
}

.banner_img:hover:after,
.banner_img:hover>.hover_text,
.banner_bg:hover:after,
.banner_bg:hover>.hover_text {
  display: block;
}

.banner_img:after,
.banner_bg:after,
.hover_text {
  display: none;
}

.banner_img:after,
.banner_bg:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  border-radius: 13%;
}

.banner_img {
  overflow: hidden;
}

.banner_img:hover img {
  transition: 1s;
}

.hover_text {
  position: absolute;
  top: 35%;
  /* right: 25%;
    bottom: 25%; */
  left: 30%;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

@font-face {
  font-family: 'Jalnan';
  src: url('/html-css/assets/fonts/Jalnan2TTF.ttf') format('truetype');
}

#footer {
  font-family: 'Jalnan';
  font-size: 10px;
}


h1,
h2,
h3,
h4,
body,
.button,
#main {
  font-family: 'Jalnan';
}

#menu {
  font-size: 20px;
  font-family: 'Jalnan';
}