#main {
    margin-left: 5%;
    margin-right: 5%;
}

#mainTitle {
    text-align: left;
}


h1,
#searchResult {
    color: #ff928e !important;
}

#searchTitle {
    text-align: left;
    margin-left: 5%;
}

#searchBar {
    display: flex;
    justify-content: center;
}

#searchBar>form {
    width: 70%;
}

h5 {
    margin-top: 0.25%;
}

#userPic {
    width: 260px;
    height: 260px;
}

#searchPic {
    width: 260px;
    height: 260px;
}

#searchUser,
#searchSchedule,
#searchLocation {
    margin-left: 5%;
    overflow:auto;
    overflow-y: hidden;
}

#listTitle {
    text-align: center;
}

#buttonBackground {
    background-color: white;
}

.container > img {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
