#main {
    margin-left: 5%;
    margin-right: 5%;
}

#mainTitle {
    text-align: left;
}


h1,
#searchResult {
    color: #ff928e !important;
}

#searchTitle {
    text-align: left;
    margin-left: 5%;
}

#searchBar {
    display: flex;
    justify-content: center;
}

#searchBar>form {
    width: 70%;
}

h5 {
    margin-top: 0.25%;
}

#userPic {
    width: 330px;
    height: 330px;
}

#searchPic {
    width: 260px;
    height: 260px;
}

#searchUser,
#searchSchedule,
#searchLocation {
    margin-left: 5%;
    overflow: auto;
}

#listTitle {
    text-align: center;
}

#buttonBackground {
    margin-top: 50%;
    background-color: white;
}