img {
    vertical-align: top;
  }
  .banner_img, .banner_bg{
    display:inline-block;
    position: relative;
  }
  .banner_img:hover:after,
  .banner_img:hover > .hover_text,
  .banner_bg:hover:after,
  .banner_bg:hover > .hover_text
  {
    display:block;
  }
  .banner_img:after,.banner_bg:after,.hover_text{
    display:none;
  }
  .banner_img:after,.banner_bg:after{
    content:'';
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    border-radius: 13%;
  }
  .banner_img {
    overflow: hidden;
  }

  .banner_img:hover img{
    transition: 1s;
  }
  .hover_text {
    position:absolute;
    top: 35%;
    /* right: 25%;
    bottom: 25%; */
    left: 30%;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
  }
  