.select-wrapper {
    font-size: small;
}

/* 달력 */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    /* font-size: 14px; */
}

#calendar {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}

/* 별점주기 */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

.rating>span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
}
/* 화면 나누기 */
#split-container {
display: flex;
width: 100%;
}
#split-container > div {
    width: 50%;
    padding: 20px;
}
/* 지도 크기 설정 */
#map {
    height: 400px;
    width: 100%;
}


#input {
    color:white;
    font-family: 'Jalnan';
    text-align: center;
    margin-right: 10px; 
    margin-left: 10px; 
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.flex-fill {
    color: #f6755e;
}

#start_date, #end_date {
    color: black;
    margin-right: 10px; margin-left: 10px;
}

#content{
        resize: none;
}

/* refactoring */

#main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

#leftSide {
    margin-right: auto;
}

#leftSide #title {
    color:#ff928e;
    margin-top:5%
}

#trip-state-button {
    margin-right: 10px; 
    margin-left: 10px;
    width: 40%;
    height: 60%;
}

#email {
    margin-right: 5px; 
    margin-left: 5px; 
    width: 20%; 
    height: 60%;
    margin-top: 2%
}

#with {
    margin-top: 2%
}

#buttonBackground {
    background-color: white;
}

#map {
    border: 0;
}

#rightSide {
    margin-left: 3%;
}

#rightSide #title {
    margin-top: 15%
}

#rightSide #title #title2 {
    margin-top: 2%
}

.select-wrapper {
    width: 20%
}

.input-add-cancle {
    margin-left: auto
}

#star {
    margin-right: 10px;
    margin-left: 100px;
}