#modalButton {
  color: aliceblue;
  background-color: #ff928e;
}

#modalBox {
  background-color: #D9D9D9;
}

#headerProfile {
  margin-top: 3%;
}

#headerSearchBar {
  margin-top: 2%
}

#icon {
  width: 25px;
  height: 25px;
}

@font-face {
  font-family: 'Jalnan';
  src: url('/html-css/assets/fonts/Jalnan2TTF.ttf') format('truetype');
}

#footer {
  font-family: 'Jalnan';
  font-size: 10px;
}


h1,
h2,
h3,
h4,
h5,
body,
section,
.button,
#main {
  font-family: 'Jalnan';
}

#menu {
  font-size: 20px;
  font-family: 'Jalnan';
}